/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.bg-img {
  background-image: url("../img/background.jpg");
  background-size: cover;
  position: relative;
}

.has-overlay {
  z-index: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

span.X {
  font-family: 'Saira Stencil One', sans-serif;
}

span.devbot {
  font-family: 'Audiowide', sans-serif;
}

.ncar-logo {
  display: block;
  margin-right: auto;
  width: 409px;
  padding-bottom: 15px;
}

.copyright {
  width: 365px;
  margin-right: auto;
}

.nsf-logo {
  display: block;
  width: 70px;
}

.nsf-text {
  width: 100%;
}

footer {
  margin: 0;
  padding: 15px;
  font-size: small;
}
