/* Move down content because we have a fixed navbar that is 3.5rem tall */
.min-ht-100vh {
  min-height: 100vh;
}

.border-main {
  border: 1px solid #e0e0e0;
  border-radius: 0.5em;
}

.flex-fill {
  flex: 1 1 auto;
}

.bg-lightgrey {
  background-color: #f0f0f0;
}

.bg-img {
  background-image: url("../img/background.jpg");
  background-size: cover;
  position: relative;
}

.has-overlay {
  z-index: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

span.X {
  font-family: 'Saira Stencil One', sans-serif;
}

span.devbot {
  font-family: 'Audiowide', sans-serif;
}

.ncar-logo {
  display: block;
  margin-right: auto;
  width: 409px;
  padding-bottom: 15px;
}

.copyright {
  width: 100%;
  margin-right: auto;
}

.nsf-logo {
  display: block;
  width: 70px;
}

.nsf-text {
  width: 100%;
}
