{% extends "base.html" %}

{% block head %}
<title>500 Internal Server Error</title>
{% endblock %}

{% block main %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron bg-img has-overlay">
        <div class="overlay"></div>
        <div class="container text-white">
            <h1 class="display-3">500</h1>
            <h2>Internal Server Error</h2>
            <p>There has been an error on the server.  We are sorry for the inconvenience.  Go to <a href="/">Home Page.</a></p>
        </div>
    </div>

</main>
{% endblock %}
