{% extends "base.html.j2" %}

{% block head %}
<title>500 Internal Server Error</title>
{% endblock %}

{% block main %}
<main class="flex-fill" role="main">
  <div class="container">
    <h1 class="display-3">500</h1>
    <h2>Internal Server Error</h2>
    <p>There has been an error on the server.  We are sorry for the inconvenience.  Go to the <a href="/">Home Page.</a></p>
  </div>
</main>
{% endblock %}
