{% extends "base.html.j2" %}

{% block head %}
<title>Authenticate</title>
{% endblock %}

{% block main %}
<main class="flex-fill min-ht-100vh" role="main">
  <div class="container pt-4">
    <h1 class="display-3">Authenticate</h1>
    <h2>User Authentication Callback Page</h2>
    <p>This page corresponds to the GitHub App's "User authentication callback URL". Go to the <a href="/">Home Page.</a></p>
  </div>
</main>
{% endblock %}
