<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url('static', filename='css/style.css') }}" type=text/css>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('static', filename='img/favicon-16x16.png') }}">
    <link rel="icon" href="{{ url('static', filename='img/favicon.ico') }}" />
    <link rel="manifest" href="{{ url('static', filename='site.webmanifest') }}">

    <!-- Custom Head Content -->
    {% block head %}
    <title>{{ title|default("[Title]", true) }}</title>
    {% endblock %}
  </head>
  <body>

    <!-- Custom Header Section -->
    {% block header %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">{{ brand|default("[Brand]") }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Links</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control-sm mr-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary btn-sm my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    {% endblock %}

    <!-- Custom Main Content -->
    {% block main %}
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron bg-img has-overlay">
        <div class="overlay"></div>
        <div class="container text-white">
          <h1 class="display-3">{{ heading|default("[Heading]", true) }}</h1>
          <p>This is a template for a simple simple landing page. It includes a large callout called a "jumbotron"
            and variable number of subheading columns of content.  You may use this as a starting point to create
            something more unique.  (This is based on the Bootstrap4.4 "Jumbotron" example.)</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          {% set deftext="Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui." %}
          {% for column in columns|default([("[Subheading]", "8", deftext), ("[Subheading]", "4", deftext)]) %}
          {% set colheading=column[0] %}
          {% set colwidth=column[1] %}
          {% set coltext=column[2] %}
          <div class="col-md-{{ colwidth }}">
            <h2>{{ colheading }}</h2>
            <p>{{ coltext }}</p>
            <p><a class="btn btn-secondary" href="#" role="button">Details</a></p>
          </div>
          {% endfor %}
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
    {% endblock %}

    <!-- Custom Footer Content -->
    {% block footer %}
    <footer class="container">
      <p>&copy; {{ copyright|default("[Company]", true) }} 2020</p>
    </footer>
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- For Bootstrap: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
