<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url('static', filename='css/style.css') }}" type=text/css>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('static', filename='img/favicon-16x16.png') }}">
    <link rel="icon" href="{{ url('static', filename='img/favicon.ico') }}" />
    <link rel="manifest" href="{{ url('static', filename='site.webmanifest') }}">

    <!-- Custom Head Content -->
    {% block extra_head %}
    <title>{{ title|default("Xdevbot", true) }}</title>
    {% endblock extra_head %}
  </head>
  <body class="d-flex flex-column full-height">

    <!-- Custom Header Section -->
    {% block header %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><span class="X">X</span><span class="devbot">devbot</span></a>
      <span class="mr-auto"></span>
      <a class="btn btn-secondary btn-sm my-2 my-sm-0" href="/configure">Configure</a>
    </nav>
    {% endblock header %}

    <!-- Custom Main Content -->
    {% block main %}
    <main class="flex-fill" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron mb-0 bg-img has-overlay">
        <div class="overlay"></div>
        <div class="container text-light">
          <h1 class="display-3"><span class="X">X</span><span class="devbot">devbot</span></h1>
          <p>This is the GitHub helper "bot" for the
            <a class="text-light" href="https://ncar.github.io/xdev">Experimental Development Team (Xdev)</a>
            at the
            <a class="text-light" href="https://ncar.ucar.edu">National Center for Atmospheric Research</a>.
            This bot watches specified GitHub repositories and collects Issue and Pull Request
            information for display on the Xdev Project Board.  You must be an approved member
            of the NCAR Xdev GitHub Organization to access and configure this bot.
          </p>
          <p><a class="btn btn-primary btn-sm" href="https://ncar.github.io/xdev" role="button">About Xdev</a></p>
        </div>
      </div>

      <div class="container mt-4 mb-3">
        <div class="row justify-content-center">
          {% set deftext="Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui." %}
          {% for column in columns|default([("[Subheading]", "8", deftext)]) %}
          {% set colheading=column[0] %}
          {% set colwidth=column[1] %}
          {% set coltext=column[2] %}
          <div class="col-md-{{ colwidth }}">
            <h2>{{ colheading }}</h2>
            <p>{{ coltext }}</p>
            <p><a class="btn btn-secondary" href="#" role="button">Details</a></p>
          </div>
          {% endfor %}
        </div>
      </div> <!-- /container -->

    </main>
    {% endblock main %}

    <!-- Custom Footer Content -->
    {% block footer %}
    <footer class="text-light bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md">
            <a href="https://www2.cisl.ucar.edu/"><img src="{{ url('static', filename='img/CISL-contemp-logo-white.svg') }}" alt="CISL" class="ncar-logo"></a>
          </div>
          <div class="col-12 col-md-auto">
            <p class="copyright"><a href="https://www.ucar.edu/">University Corporation for Atmospheric Research</a> &copy; 2020<br>
            Proudly published with <a href="https://pages.github.com/" target="_blank" rel="noopener">GitHub Pages</a><br>
            Apache 2.0</p>
          </div>
        </div>
        <div class="row pt-3 border-top">
          <div class="col-auto">
            <a href="https://nsf.gov/"><img src="{{ url('static', filename='img/footer-logo-nsf.png') }}" alt="NSF" class="nsf-logo"></a>
          </div>
          <div class="col">
            <p class="nsf-text">This material is based upon work supported by the National Center for Atmospheric Research, a major facility
            sponsored by the National Science Foundation and managed by the University Corporation for Atmospheric Research. Any opinions,
            findings and conclusions or recommendations expressed in this material do not necessarily reflect the views of the National
            Science Foundation.</p>
          </div>
        </div>
      </div>
    </footer>
    {% endblock footer %}

    <!-- Optional JavaScript -->
    <!-- For Bootstrap: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
