{% extends "base.html.j2" %}

{% block head %}
<title>GitHub</title>
{% endblock %}

{% block main %}
<main class="flex-fill min-ht-100vh" role="main">
  <div class="container pt-4">
    <h1 class="display-3">GitHub</h1>
    <h2>Webhook Endpoint</h2>
    <p>This page corresponds to where the GitHub App's webhook will POST data ("Webhook URL"). Go to the <a href="/">Home Page.</a></p>
  </div>
</main>
{% endblock %}
