{% extends "base.html.j2" %}

{% block header %}
<!-- NO HEADER -->
{% endblock header %}

{% block main %}
<main class="flex-fill min-ht-100vh bg-lightgrey" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  {% if watching is none %}
  <div class="jumbotron m-0 min-ht-100vh bg-img has-overlay">
  {% else %}
  <div class="jumbotron m-0 bg-img has-overlay">
  {% endif %}
    <div class="overlay"></div>
    <div class="container text-light">
      <h1 class="display-3"><span class="X">X</span><span class="devbot">devbot</span></h1>
      <p>This is the GitHub helper "bot" for the
        <a class="text-light" href="https://ncar.github.io/xdev">Experimental Development Team (Xdev)</a>
        at the
        <a class="text-light" href="https://ncar.ucar.edu">National Center for Atmospheric Research</a>.
        This bot watches specified GitHub repositories and collects Issue and Pull Request
        information for display on the Xdev Main Project Board.
      </p>
      <p><a class="btn btn-primary btn-sm" href="https://ncar.github.io/xdev" role="button">About Xdev</a>
      </p>
    </div>
  </div>

  {% if watching is not none %}
  <div class="container">
    <div class="row justify-content-center">
      <h2 class="display-5 pt-4 pb-2">What are we watching?</h2>
    </div>
    <div class="row mx-5">
      <span class="text-dark bg-light border-main p-3 mb-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis viverra nibh cras pulvinar. Eget sit amet tellus cras adipiscing enim eu turpis egestas. Quis ipsum suspendisse ultrices gravida. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Orci nulla pellentesque dignissim enim sit amet venenatis. Ultricies tristique nulla aliquet enim tortor at. Ac auctor augue mauris augue. Pellentesque habitant morbi tristique senectus et. Et leo duis ut diam quam. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. Nisl tincidunt eget nullam non.</p>
        <p>Volutpat lacus laoreet non curabitur gravida arcu ac. Eget aliquet nibh praesent tristique. Et netus et malesuada fames ac turpis egestas maecenas pharetra. Odio tempor orci dapibus ultrices in. Sapien faucibus et molestie ac feugiat sed. Pretium nibh ipsum consequat nisl. Magna fringilla urna porttitor rhoncus dolor. Urna condimentum mattis pellentesque id nibh. Blandit cursus risus at ultrices mi. Nunc faucibus a pellentesque sit amet. Varius sit amet mattis vulputate enim nulla. Vel eros donec ac odio tempor orci dapibus. Laoreet non curabitur gravida arcu. Odio euismod lacinia at quis risus sed vulputate. Morbi tincidunt ornare massa eget egestas purus viverra accumsan in. Amet porttitor eget dolor morbi.</p>
      </span>
    </div>
  </div>
  {% endif %}

</main>
{% endblock main %}
