{% extends "base.html" %}

{% block extra_head %}
<link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
<title>Xdevbot</title>
{% endblock extra_head %}

{% block header %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"><span class="X">X</span><span class="devbot">devbot</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Links</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control-sm mr-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary btn-sm my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
{% endblock header %}

{% block main %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron bg-img has-overlay">
      <div class="overlay"></div>
      <div class="container text-light">
        <h1 class="display-3"><span class="X">X</span><span class="devbot">devbot</span></h1>
        <p>This is the GitHub helper "bot" for the
           <a class="text-light" href="https://ncar.github.io/xdev">Experimental Development Team (Xdev)</a>
           at the
           <a class="text-light" href="https://ncar.ucar.edu">National Center for Atmospheric Research</a>.
           This bot watches specified GitHub repositories and collects Issue and Pull Request
           information for display on the Xdev Project Board.  You must be an approved member
           of the NCAR Xdev GitHub Organization to access and configure this bot.
        </p>
        <p><a class="btn btn-primary btn-sm" href="https://ncar.github.io/xdev" role="button">About Xdev</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        {% set deftext="Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui." %}
        {% for column in columns|default([("[Subheading]", "4", deftext)]) %}
        {% set colheading=column[0] %}
        {% set colwidth=column[1] %}
        {% set coltext=column[2] %}
        <div class="col-md-{{ colwidth }}">
          <h2>{{ colheading }}</h2>
          <p>{{ coltext }}</p>
          <p><a class="btn btn-secondary" href="#" role="button">Details</a></p>
        </div>
        {% endfor %}
      </div>

    </div> <!-- /container -->

</main>
{% endblock main %}

{% block footer %}
<footer class="text-light bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <a href="https://www2.cisl.ucar.edu/"><img src="{{ url('static', filename='img/CISL-contemp-logo-white.svg') }}" alt="CISL" class="ncar-logo"></a>
            </div>
            <div class="col-12 col-md-auto">
                <p class="copyright"><a href="https://www.ucar.edu/">University Corporation for Atmospheric Research</a> &copy; 2020<br>
                Proudly published with <a href="https://pages.github.com/" target="_blank" rel="noopener">GitHub Pages</a><br>
                Apache 2.0</p>
            </div>
        </div>
        <div class="row mt-3 pt-3 border-top">
            <div class="col-auto">
                <a href="https://nsf.gov/"><img src="{{ url('static', filename='img/footer-logo-nsf.png') }}" alt="NSF" class="nsf-logo"></a>
            </div>
            <div class="col">
                <p class="nsf-text">This material is based upon work supported by the National Center for Atmospheric Research, a major facility sponsored by the National Science Foundation and managed by the University Corporation for Atmospheric Research. Any opinions, findings and conclusions or recommendations expressed in this material do not necessarily reflect the views of the National Science Foundation.</p>
            </div>
            </p>
        </div>
</footer>
{% endblock footer %}
