{% extends "base.html.j2" %}

{% block extra_head %}
<title>Setup</title>
{% endblock extra_head %}

{% block main %}
<main class="flex-fill min-ht-100vh" role="main">
  <div class="container pt-4">
    <h1 class="display-3">Setup</h1>
    <h2>Setup Page</h2>
    <p>This page corresponds to the GitHub App's optional "Setup URL". Go to the <a href="/">Home Page.</a></p>
  </div>
</main>
{% endblock main %}
